*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #0d1117;
}

.hidden{
  display: none;
}

.posts-container{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post{
  height: 150px;
  width: 60%;
  min-width: 500px;
  border-radius: 8px;
  border: 1px solid #4d4d4d;
  margin: 20px auto;
  z-index: 10;
  padding: 16px;
}

.title{
  color: #0099ff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 28px;
}

.info-container{
  line-height: 1.2rem;
  margin: 5px 28px;
  padding: 2px;
}

.info{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.show-more{
  font-size: .9rem;
  font-weight: 500;
  outline: none;
  border: #4d4d4d 1px solid;
  background-color: #00000000;
  height: 34px;
  width: 300px;
  margin: 10px auto;
  border-radius: 3px;
  color: #0099ff;
  cursor: pointer;
}

.show-more:hover{
  border: #0099ff solid 1px;
  color: #0099ff;
}

#loader-container{
  height: 2px;
  width: 100%;
  background-color: #4f4f4f;
  top: 0;
  position: fixed;
  z-index: 11;
}

#loader{
  height: 100%;
  left: 0;
  background: linear-gradient(to right,#20f8ff, #047ee2c4);
  animation: loading 2s 1;
}


@keyframes loading{
  from{
    width: 0px;
  }
  to{
    width: 100%;
  }
}