{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Loader</title>
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <div id="loader-container">
    <div id="loader"></div>
  </div>

  
  <div class="posts-container">
    
    <div class="filter-container">
      <input type="text" id="input-form" placeholder="Search anything...">
      <!-- <div class="results-container"></div> -->
      <button type="submit" id="input-btn">Search</button>
    </div>

    <div class="posts">
      
    </div>
    <button id="load-data-btn" class="show-more hidden">Show More</button>
  </div>

  <script src="{% static 'script/app.js' %}"></script>
</body>
</html>